@font-face {
  font-family: 'tt_backwards_sans_trialRg';
  src: url('tt_backwards_sans_trial_regular-webfont.woff2') format('woff2'),
       url('tt_backwards_sans_trial_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents layout shifts */
}

.hide {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#portfolioContent, #homeContent {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  aspect-ratio: attr(width) / attr(height);
  

}

/* General Fade-in Effect */
.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Loader Styling */
.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

/* Navigation Styling */
.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* Space between thumbnails */
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid blue;
}

.nav-item {
  display: inline-block;
  cursor: pointer;
}

.nav.thumb {
  width: 75px;
  height: 75px;
  object-fit: cover; /* Ensures images fit properly */
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.nav.thumb:hover {
  transform: scale(1.1);
}

.nav.thumb.active {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px white;
}